<%- include('header.ejs') %>
<!-- Header End -->
<!-- Top Social End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-area set-bg" data-setbg="img/classes/classes-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb-content">
          <h2>Classes</h2>
          <div class="links">
            <a href="/">Home</a>
            <a href="/classes" class="rt-breadcrumb">Classes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Classes Section Begin -->
<section class="classes-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single-classes">
          <div class="classes-img">
            <img src="img/classes/classes-1.jpg" alt="" />
          </div>
          <div class="classes-text">
            <h5>GET SET MOVE</h5>
            <p>
              A Women only program targeted to help you build strength, stamina
              and endurance. It includes a mix of different fitness activities
              like Strength training, Tabata, Mobility training and dance
              fitness.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="single-classes">
          <div class="classes-img">
            <img src="img/classes/classes-3.jpg" alt="" />
          </div>
          <div class="classes-text">
            <h5>Fitness</h5>
            <p>
              Fitness: Transform your lifestyle, embrace a journey of
              well-being, and make physical activity a daily household habit
              with our dedicated coaching. Join the Fitness Revolution led by
              Coach Palak Sacchdeva, certified by ACE and a professional dancer,
              to embark on a holistic and empowering fitness experience. Let's
              make fitness a way of life! 💪🏠 #FitnessRevolution #CoachPalak
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single-classes">
          <div class="classes-img">
            <img src="img/classes/classes-4.jpg" alt="" />
          </div>
          <div class="classes-text">
            <h5>GET SET DANCE</h5>
            <p>
              GET SET DANCE: Ignite your passion, embrace your feminine energy,
              and build confidence step by step with our dynamic dance classes
              every Sunday from 11:15 am to 12:30 pm. Join our exclusive Dance
              community for personalized feedback sessions and make your moves
              truly extraordinary.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Classes Section End -->
<!-- Fitness Plan Begin -->
<section class="fitness-section inside-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="single-fitness-feature">
          <div class="fitness-number">
            <span>01</span>
          </div>
          <div class="fitness-text">
            <h4>Get fitted</h4>
            <p>
              Get Fitted: Transform your wellness journey with personalized
              fitness solutions tailored to your unique goals and lifestyle.
            </p>
          </div>
        </div>
        <div class="single-fitness-feature">
          <div class="fitness-number">
            <span>02</span>
          </div>
          <div class="fitness-text">
            <h4>Try Pilates</h4>
            <p>
              Try Pilates: Elevate your strength, flexibility, and overall
              well-being through the transformative power of Pilates workouts.
            </p>
          </div>
        </div>
        <div class="single-fitness-feature">
          <div class="fitness-number">
            <span>03</span>
          </div>
          <div class="fitness-text">
            <h4>Healthy Diet</h4>
            <p>
              Healthy Diet: Nourish your body and mind with a balanced and
              wholesome nutrition plan, paving the way to a vibrant and
              energetic lifestyle.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-2 text-md-right text-left">
        <div class="single-fitness-feature">
          <div class="fitness-number left-number">
            <span>04</span>
          </div>
          <div class="fitness-text left-text">
            <h4>Meditation</h4>
            <p>
              Meditation: Discover tranquility within as you embark on a journey
              of mindfulness, promoting mental clarity, emotional balance, and
              inner peace.
            </p>
          </div>
        </div>
        <div class="single-fitness-feature">
          <div class="fitness-number left-number">
            <span>05</span>
          </div>
          <div class="fitness-text left-text">
            <h4>Diet Plan</h4>
            <p>
              Diet Plan: Unlock the path to optimal health with a customized and
              sustainable nutrition strategy, designed to align with your unique
              goals and lifestyle..
            </p>
          </div>
        </div>
        <div class="single-fitness-feature">
          <div class="fitness-number left-number">
            <span>06</span>
          </div>
          <div class="fitness-text left-text">
            <h4>Grow Muscles</h4>
            <p>
              Grow Muscles: Sculpt your physique and enhance strength with
              targeted workouts and nutrition plans, unlocking the path to a
              robust and well-defined muscular journey.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fitness Plan End -->
<!-- Classes Call To Action Section -->
<section
  class="classes-callto-section set-bg"
  data-setbg="img/classes/classes-callto-bg1.png"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="classes-callto-text">
          <span>Join our service now!</span>
          <h2>25% Discount</h2>
          <p>
         
          </p>
          <a href="/contact" class="primary-btn">Join</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('footer.ejs') %>
