<%- include('header.ejs') %>

<style>
  .success-message {
    color: #4caf50;
    font-weight: bold;
  }

  .error-message {
    color: #f44336;
    font-weight: bold;
  }
</style>
<section class="breadcrumb-area set-bg" data-setbg="img/contact/contact-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb-content">
          <h2>Contact</h2>
          <div class="links">
            <a href="/">Home</a>
            <a href="/contact" class="rt-breadcrumb">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-info">
          <div class="contact-details">
            <h2>Get in Touch</h2>
            <p>
              Let's collectively pave the way for a Fitness Revolution! Unite
              with Coach Palak and integrate fitness seamlessly into your daily
              existence. 💪🏠 #FitnessRevolution #CoachPalak
            </p>
            <ul class="address">
              <li>Delhi India</li>
              <li>+91 98112 28350</li>
              <li>fitwithpalak91@gmail.com</li>
            </ul>
          </div>
          <div class="contact-form">
            <form id="contact-form" method="post">
              <div class="row">
                <div class="col-lg-6">
                  <input
                    name="name"
                    id="name"
                    type="text"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="col-lg-6">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    placeholder="Email"
                    required
                  />
                </div>
                <div class="col-lg-12">
                  <input
                    id="subject"
                    type="text"
                    name="subject"
                    placeholder="Subject"
                    required
                  />
                  <textarea
                    id="message"
                    name="message"
                    placeholder="Message"
                    required
                  ></textarea>
                  <div id="response-message"></div>
                  <br />
                  <button type="submit" class="site-btn">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?place/Humayun%E2%80%99s+Tomb/@28.5359486,77.2041786,12z/data=!4m15!1m8!3m7!1s0x390cfd5b347eb62d:0x52c2b7494e204dce!2sNew+Delhi,+Delhi!3b1!8m2!3d28.6139391!4d77.2090212!16zL20vMGRsdjA!3m5!1s0x390ce31ce8460ba7:0xb9f1ba2d3bdfa80d!8m2!3d28.5932848!4d77.2507492!16zL20vMDR3OWMy?entry=ttu"
      style="border: 0"
      allowfullscreen
    ></iframe>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("contact-form");
    const responseMessage = document.getElementById("response-message");

    form.addEventListener("submit", async function (event) {
      event.preventDefault(); // Prevent default form submission

      // Check validity using HTML5 form validation
      if (!form.checkValidity()) {
        showMessage(
          '<p class="error-message">Please fill out all required fields correctly.</p>'
        );
        return;
      }

      const formData = new FormData(form);

      // Convert FormData to JSON object
      const jsonObject = {};
      formData.forEach((value, key) => {
        jsonObject[key] = value;
      });

      console.log("jsonObject", jsonObject);

      // const response = await fetch("/submit-form", {
      //   method: "POST",
      //   headers: {
      //     "Content-Type": "application/json",
      //   },
      //   body: JSON.stringify(jsonObject),
      // });
      const response = await fetch("http://localhost:5000", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(jsonObject),
      });

      const responseData = await response.json();

      if (response.ok) {
        // Display success message
        showMessage(
          '<p class="success-message">' + responseData.message + "</p>"
        );
        form.reset(); // Clear form fields
      } else {
        // Display error message
        showMessage('<p class="error-message">' + responseData.error + "</p>");
      }

      // Clear messages after 3 seconds
      setTimeout(() => {
        responseMessage.innerHTML = "";
      }, 3000);
    });

    function showMessage(message) {
      responseMessage.innerHTML = message;
    }
  });
</script>

<!-- Contact Section End -->
<%- include('footer.ejs') %>
