<%- include('header.ejs') %>

<!-- Owl Carousel CSS and Theme -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
/>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Top Social End -->
<!-- Hero Slider Section Begin -->
<section class="hero-slider">
  <div class="slide-items owl-carousel">
    <div class="single-slide set-bg active" data-setbg="img/bg.jpg">
      <a
        href="https://www.youtube.com/watch?v=sbgoNvayjEo"
        class="play-btn pop-up"
        ><i class="fa fa-play"></i
      ></a>
      <h2>Be Fit With Palak</h2>
      <!-- <a href="#" class="primary-btn">Read More</a> -->
    </div>
    <div class="single-slide set-bg" data-setbg="img/bg-2.jpg">
      <a
        href="https://www.youtube.com/watch?v=sbgoNvayjEo"
        class="play-btn pop-up"
        ><i class="fa fa-play"></i
      ></a>
      <h2>Get Fit With Palak</h2>
      <!-- <a href="#" class="primary-btn">Read More</a> -->
    </div>
  </div>
</section>
<!-- Hero Slider End -->
<!-- Features Section Begin -->
<section class="features-section spad">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-features">
          <div class="features-img">
            <img src="img/features/feature-1.jpg" alt="" />
          </div>
          <div class="feature-text">
            <div class="feature-icon">
              <img src="img/features/icon-1.png" alt="" />
            </div>
            <h5>Tabata</h5>
            <p>
              Tabata, a high-intensity workout in just four minutes, boosts
              metabolism and burns calories even after you' re done. It's a
              versatile and time-friendly fitness solution for everyone, whether
              you're a beginner or a seasoned athlete.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-features">
          <div class="features-img">
            <img src="img/features/feature-2.jpg" alt="" />
          </div>
          <div class="feature-text">
            <div class="feature-icon">
              <img src="img/features/icon-2.png" alt="" />
            </div>
            <h5>Build Strength</h5>
            <p>
              Uncover the strength-building journey with targeted workouts,
              focusing on progressive resistance and muscle development. Whether
              you're a fitness novice or a seasoned pro, these exercises adapt
              to your level.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-features">
          <div class="features-img">
            <img src="img/features/feature-3.jpg" alt="" />
          </div>
          <div class="feature-text">
            <div class="feature-icon">
              <img src="img/features/icon-3.png" alt="" />
            </div>
            <h5>Dance fitness</h5>
            <p>
              Experience the joy of dance fitness, a fun way to work out with
              music and movement. Perfect for all fitness levels, it brings
              energy and a full-body workout to make staying active feel like a
              celebration.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Section End -->
<!-- Services Section Begin -->
<section class="services-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span>Features</span>
          <h2>Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-service">
          <img
            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_300,q_auto:eco,dpr_1,f_auto,fl_progressive//image/vm/7bf136db-7217-4733-af9f-1bb8a4155a83.png"
            alt=""
          />
          <!-- <i class="fa-solid fa-dumbbell"></i> -->

          <h5>Strength Training</h5>
          <p>
            Build strength, tone muscles. Lift weights, feel powerful. Boost
            metabolism, bone health. Simple, effective, transformative. Start
            today.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-service c-text">
          <!-- <img src="img/icon-2.png" alt="" /> -->
          <img
            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_300,q_auto:eco,dpr_1,f_auto,fl_progressive//image/vm/8009b1d0-4f5e-49e1-bc94-c41da6a5bcc1.png"
            alt=""
          />

          <h5>Mobility Training</h5>
          <p>
            Unlock flexibility, move freely. Mobility training is the key.
            Improve range of motion, prevent injuries. Simple, effective,
            transformative. Start your journey now.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-service">
          <!-- <img src="img/icon-3.png" alt="" /> -->
          <img
            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_300,q_auto:eco,dpr_1,f_auto,fl_progressive//image/vm/5ff5b229-b562-428f-94a9-98da451ed367.png"
            alt=""
          />
          <h5>Yoga</h5>
          <p>
            Immerse in yoga, find inner peace. Stretch, breathe, connect.
            Enhance flexibility, calm the mind. Simple, effective,
            transformative. Begin your yoga journey today.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-service">
          <!-- <img src="img/icon-4.png" alt="" /> -->
          <img
            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_300,q_auto:eco,dpr_1,f_auto,fl_progressive/image/vm/2ce1e296-e894-4f65-9dc1-d6ed11c031ae.png"
            alt=""
          />
          <h5>Tabata</h5>
          <p>
            Experience Tabata, quick and intense. Short workouts, big impact.
            Burn calories, boost endurance. Simple, effective, transformative.
            Dive into Tabata for a dynamic fitness journey.
          </p>
        </div>
      </div>
    </div>
    <div class="row p-70">
      <div class="col-lg-12 text-center">
        <a href="#" class="service-btn primary-btn">see all the services</a>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->
<!-- Trainer Section Begin -->
<section class="trainer-section set-bg" data-setbg="img/trainer-bg1.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span style="color: black !important">The Best</span>
          <h2>Trainer</h2>
          <!-- <a href="#" class="primary-btn trainer-btn">See All</a> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="single-trainer">
          <div class="trainer-img">
            <img src="img/trainer/palaktrainer.jpg" alt="" />
            <!-- <div class="img-hover">
                  <a href="#"><i class="fa fa-plus"></i></a>
                </div> -->
          </div>
          <div class="trainer-text">
            <!-- <h5>Rachel Smith <span>Aerobics Instructor</span></h5> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-trainer">
          <div class="trainer-img">
            <img src="img/trainer/palak.jpg" alt="" />
            <!-- <div class="img-hover">
                  <a href="#"><i class="fa fa-plus"></i></a>
                </div> -->
          </div>
          <div class="trainer-text">
            <h5>Palak Sachdeva<span>Fitness Trainer</span></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-trainer">
          <div class="trainer-img">
            <img src="img/trainer/palak3.jpg" alt="" />
            <!-- <div class="img-hover">
                  <a href="#"><i class="fa fa-plus"></i></a>
                </div> -->
          </div>
          <div class="trainer-text">
            <!-- <h5>James Brown <span>Aerobics Instructor</span></h5> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Traniner Section End -->
<!-- Upcoming Event Begin -->
<section class="upcoming-event-section spad-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="upcoming-classes">
          <div class="up-title">
            <span>Next</span>
            <h5>Upcomming Classes</h5>
          </div>
          <ul class="classes-time">
            <li>
              <img src="img/stopwatch.png" alt="" /> Gym Fitness
              <span>11:00 - 12:00</span>
            </li>
            <li>
              <img src="img/stopwatch.png" alt="" /> Pilates
              <span>12:00 - 13:00</span>
            </li>
            <li>
              <img src="img/stopwatch.png" alt="" /> Spinning
              <span>13:00 - 14:00</span>
            </li>
            <li>
              <img src="img/stopwatch.png" alt="" /> Yoga
              <span>14:00 - 15:00</span>
            </li>
            <li>
              <img src="img/stopwatch.png" alt="" /> Gym Fitness
              <span>15:00 - 16:00</span>
            </li>
            <li>
              <img src="img/stopwatch.png" alt="" /> Pilates
              <span>16:00 - 17:00</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="membership-card set-bg" data-setbg="img/m-card.jpg">
          <div class="membership-details">
            <div class="up-title">
              <span>Next</span>
              <h5>Membership Cards</h5>
            </div>
            <div class="discount">
              <h1>25% <span>Discount</span></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="member-sign-up set-bg" data-setbg="img/signup-bg.jpg">
          <div class="up-title">
            <span>New</span>
            <h5>Personal Trainer</h5>
          </div>
          <p>
            Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus
            suscipit nisl quis nulla pretium.Pellentesque dictum nisl in nibh
            dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
            pretium.
          </p>
          <div class="member-signup-btn">
            <a href="/pricing" class="primary-btn">Sign up Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $(".slide-items").owlCarousel();
  });
</script>

<%- include('footer.ejs') %>
