<!-- Header End -->
<!-- Search Bar Begin -->
<!-- Top Social End -->
<head>
  <meta charset="utf-8" />
  <title>Pricing</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
    rel="stylesheet"
  />

  <!-- Icon Font Stylesheet -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    rel="stylesheet"
  />

  <!-- Libraries Stylesheet -->
  <!-- <link href="lib/animate/animate.min.css" rel="stylesheet" />
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" /> -->

  <!-- Customized Bootstrap Stylesheet -->
  <link href="bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Template Stylesheet -->
  <!-- <link href="style.css" rel="stylesheet" /> -->
  <style>
    .color-green {
      color: green;
    }
    .fa {
      margin-top: 15px;
    }

    .header-section {
      margin-top: -131px !important;
    }
    .container-xxl.bg-white.p-0 {
      margin-top: 118px;
    }
    .top-social {
      margin-top: -118px;
    }
    .top-social .top-social-links {
      width: 121px;
      background: rgb(0 0 0 / 50%) !important;
      text-align: center;
      padding-top: 32px;
      padding-bottom: 19px;
      position: sticky;
    }

    .text-white {
      --bs-text-opacity: 1;
      color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
      background: #9638d5 !important;
    }
    .fa-check:before {
      content: "\f00c";
      color: #9638d5 !important;
    }
    .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
      background: #9638d5 !important;
      margin-left: 40px;
      float: right;
      margin-bottom: 40px;
    }
    .footer-content .footer-logo {
      margin-bottom: 33px;
      margin: auto;
      width: 100px;
    }
    .col-md-6.mb-6.amit-align {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    ol,
    ul {
      padding-left: 0rem !important;
    }
    li.flex {
      font-size: large;
      font-weight: bold;
    }
    .text-\[\#2d333a\] {
      --tw-text-opacity: 1;
      color: rgb(45 51 58 / var(--tw-text-opacity));
      /* font-size: large !important; */
      font-weight: bold !important;
    }
  </style>
</head>

<body>
  <%- include('header.ejs') %>
  <div class="container-xxl bg-white p-0">
    <!-- Intoducaiton  Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="about-img position-relative overflow-hidden p-5 pe-0">
              <img class="img-fluid w-100" src="img/pricing2.jpg" />
            </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <h1 class="mb-4">
              🏆 Certified by the American Council on Exercise (ACE).
            </h1>
            <p class="mb-4">
              🚀 Step into a Transformative Fitness Odyssey with Coach Palak
              Sacchdeva! With a stellar career spanning 8 years in the realms of
              corporate giants and cutting-edge startups, Coach Palak has
              unearthed her true calling – kindling inspiration and steering
              individuals towards a vibrant and healthier lifestyle.
            </p>
            <p>
              <i class="amit-icon fa fa-check text-primary me-3"></i>🌟 Vision:
              IGNITE MOVEMENT 🏋️‍♀️ In a nation where fitness is yet to weave into
              the fabric of daily life, Coach Palak envisions transforming it
              into an everyday household ritual. Armed with the prestigious ACE
              certification and a flair for dance, she effortlessly fuses
              expertise with zeal to craft a fitness experience that is both
              unique and exhilarating.
            </p>
            <br />
            <p>
              <i class="amit-icon fa fa-check text-primary me-3"></i>📞 Let's
              collectively pave the way for a Fitness Revolution! Unite with
              Coach Palak and integrate fitness seamlessly into your daily
              existence. 💪🏠 #FitnessRevolution #CoachPalak
            </p>
            <!-- <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Intoducaiton End -->

    <!-- Pricing start 1 -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 mb-6 amit-align">
          <div
            key="1"
            class="w-full max-w-sm p-4 border-t-4 border-blue-500 rounded-2xl shadow sm:p-8"
          >
            <h5 class="mb-2 text-xl text-center font-semibold text-[#9638d5]">
              GET SET MOVE
            </h5>
            <p class="text-center text-sm"></p>
            <div class="flex justify-center items-baseline text-gray-900 py-4">
              <span class="text-3xl font-semibold color-green">Rs &nbsp;</span>
              <span
                class="text-4xl font-extrabold tracking-tight color-success color-green"
                >3,699/-</span
              >
              <!-- <span class="ms-1 text-xl font-normal text-[#2d333a]"
                >/month</span
              > -->
            </div>
            <!-- <p class="text-center text-sm">FOR THE FIRST 10 MONTHS</p> -->

            <ul role="list" class="space-y-4 my-7">
              <li class="flex">
                <span
                  class="text-sm font-normal leading-tight text-[#2d333a] ms-3"
                  >• Daily Live classes (4 classes in a week)
                </span>
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• Evening Batch at 7:15 to 8pm
                </span>
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• Dedicated Personalised Meal Plans
                </span>
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• access to women's health expert session</span
                >
              </li>

              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• daily accountability coach & weekly progress
                  assessment</span
                >
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• exclusive membership to FWP Squad</span
                >
              </li>
            </ul>
            <br />
            <br />
            <br />
            <br />
            <button
              type="button"
              id="rzp-button"
              class="amit-button border-2 text-white bg-blue-500 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
            >
              Book Now
            </button>
          </div>
        </div>

        <div class="col-md-6 mb-6 amit-align">
          <div
            key="1"
            class="w-full max-w-sm p-4 border-t-4 border-blue-500 rounded-2xl shadow sm:p-8"
          >
            <h5 class="mb-2 text-xl text-center font-semibold text-[#9638d5]">
              GET SET DANCE
            </h5>
            <p class="text-center text-sm"></p>
            <div class="flex justify-center items-baseline text-gray-900 py-4">
              <span class="text-3xl font-semibold color-green">Rs &nbsp;</span>
              <span
                class="text-4xl font-extrabold tracking-tight color-success color-green"
                >2,399/-</span
              >
              <!-- <span class="ms-1 text-xl font-normal text-[#2d333a]"
                >/month</span
              > -->
            </div>
            <!-- <p class="text-center text-sm">FOR THE FIRST 10 MONTHS</p> -->

            <ul role="list" class="space-y-4 my-7">
              <li class="flex">
                <span
                  class="text-sm font-normal leading-tight text-[#2d333a] ms-3"
                  >• Dance Classes every Sunday
                </span>
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• perfect for you if you want to learn how to move your body
                  and feel the music
                </span>
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                >
                  • Learn to develop a new skill and embrace your feminine
                  energy
                </span>
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                >
                  • become confident by learning how to dance step by step
                </span>
              </li>

              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• exclusive membership to Dance community
                </span>
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• 1:1 feedback sessions
                </span>
              </li>
              <li class="flex">
                <span
                  class="text-base font-normal leading-tight text-[#2d333a] ms-3"
                  >• time - 11:15am to 12:30pm
                </span>
              </li>
            </ul>

            <button
              type="button"
              id="rzp-button"
              class="amit-button border-2 text-white bg-blue-500 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
            >
              Book Now
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div
          class="text-center mx-auto mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
          style="max-width: 600px"
        >
          <h1 class="mb-3">Fitness Trainer</h1>
          <p>
            💼 For Inquiries: Connect with Coach Palak at
            fitwithpalak91@gmail.com and embark on a tailored fitness
            expedition.
          </p>
        </div>

        <div class="container-xxl py-5">
          <div class="container">
            <div class="row g-5 align-items-center">
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">
                  #1 Place To Find The Perfect Fitness Classes
                </h1>

                <p>🏆 Certified by the American Council on Exercise (ACE).</p>
                <p>
                  💃 Professional dancer, injecting dynamism and artistry into
                  every workout.
                </p>
                <p>📷 Instagram: @fitwithpalak</p>
                <p>
                  🎥 Dive into the fitness journey on YouTube: [Palak
                  Sacchdeva](insert YouTube link)
                </p>

                <div class="d-flex align-items-center">
                  <a
                    class="btn btn-square mx-1"
                    href="https://www.facebook.com/FitnesswithPalak?mibextid=9R9pXO"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a
                    class="btn btn-square mx-1"
                    href="https://twitter.com/"
                    target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    class="btn btn-square mx-1"
                    href="https://www.instagram.com/fitwithpalak?igsh=cmJpdHU4cmp6cjJn"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                  <a
                    class="btn btn-square mx-1"
                    href="https://www.linkedin.com/in/palak-sachdeva-995b6647"
                    target="_blank"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                  <a
                    class="btn btn-square mx-1"
                    href="https://youtube.com/@palakfitness?si=jgvn1vM98PJU7Vup"
                    target="_blank"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </div>
                <!-- <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> -->
              </div>
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div
                  class="about-img position-relative overflow-hidden p-5 pe-0"
                >
                  <div class="position-relative">
                    <img
                      class="img-fluid"
                      src="img/trainer/palak3.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Description -->
    <!-- <div class="container-xxl">
      <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp">
          <h1 class="mb-3">Q CONDOS - BROKER PORTAL</h1>
          <p>
            Q Condos stands as a distinctive architectural presence, soaring 34
            storeys above the dynamic creative energy of Queen Street in
            Kitchener. Its slender design is not just a testament to modern
            aesthetics but also positions itself as the epicenter of the city's
            flourishing creative scene. Overlooking the picturesque Victoria
            Park, residents are immersed in a lively atmosphere surrounded by
            art galleries, theaters, and an array of tech job opportunities. The
            proximity to an ION transit stop ensures seamless connectivity, and
            the locale is particularly attractive for professionals working in
            renowned technology companies such as Google, Communitech, Apply
            Board, and Vid Yard, all nestled in downtown Kitchener.
          </p>
          <br />
          <br />
          <p>
            The unparalleled location of Q Condos extends beyond just its
            physical attributes. It's a hub that integrates seamlessly with the
            city's transportation network. The forthcoming transit hub promises
            connectivity to ION light rail transit, Grand River Transit,
            expanded GO train and bus services, VIA Rail, Coach Canada,
            CarShare, and dedicated spaces for cyclists and pedestrians. This
            strategic connectivity not only facilitates convenient travel but
            also reinforces the idea of a vibrant and accessible community that
            prioritizes sustainable transportation options.
          </p>
          <br />
          <br />
          <p>
            Beyond the architectural marvel and connectivity features, Q Condos
            offers an unparalleled lifestyle. The second paragraph encompasses
            the diverse range of recreational and cultural activities available
            within arm's reach. Whether residents choose to relax in the green
            spaces of Vogelsang Green or immerse themselves in the cultural
            richness of Victoria Park, there's no shortage of options. The
            neighborhood comes alive with theaters, local bars, concerts,
            libraries, museums, Farmer's Markets, and art galleries, making Q
            Condos an ideal living space for those who appreciate a dynamic and
            engaging urban environment.
          </p>
          <br />
          <br />
        </div>
      </div>
    </div> -->

    <!-- Team End -->
    <!-- Back to Top -->
    <a
      href="#"
      class="amit-button btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>
  </div>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    const serverUrl = "http://localhost:3000";

    const rzpButton = document.getElementById("rzp-button");

    rzpButton.onclick = async function () {
      try {
        // Make a request to your server to create an order
        const response = await fetch(`${serverUrl}/create-order`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            amount: 500,
          }),
        });

        const order = await response.json();

        const options = {
          key: "rzp_test_XGkfx84OsbbVDp",
          amount: order.amount,
          currency: order.currency,
          name: "Amit Hello",
          description: "Purchase Description",
          image: "your_logo_url",
          order_id: order.id,
          handler: function (response) {
            // alert("Payment successful: " + response.razorpay_payment_id);
            console.log(response);
          },
          prefill: {
            name: "John Doe",
            email: "john@example.com",
            contact: "9876543210",
          },
          notes: {
            address: "Your Company Address",
          },
          theme: {
            color: "#F37254",
          },
        };

        const rzp = new Razorpay(options);
        rzp.open();
      } catch (error) {
        console.error(error);
      }
    };
  </script>
</body>

<%- include('footer.ejs') %>
