<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts_blog/icomoon/style.css" />
    <link rel="stylesheet" href="fonts_blog/flaticon/font/flaticon.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="css_blog/tiny-slider.css" />
    <link rel="stylesheet" href="css_blog/aos.css" />
    <link rel="stylesheet" href="css_blog/glightbox.min.css" />
    <link rel="stylesheet" href="css_blog/style.css" />

    <link rel="stylesheet" href="css_blog/flatpickr.min.css" />

    <title>Blog &mdash; Real Esate Blog Ontario</title>
  </head>

  <body>
    <div id="singleBlogContainer">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
    </div>

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="js_blog/bootstrap.bundle.min.js"></script>
    <script src="js_blog/tiny-slider.js"></script>

    <script src="js_blog/flatpickr.min.js"></script>

    <script src="js_blog/aos.js"></script>
    <script src="js_blog/glightbox.min.js"></script>
    <script src="js_blog/navbar.js"></script>
    <script src="js_blog/counter.js"></script>
    <script src="js_blog/custom.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        // Fetch blog post data
        const postLink = getPostLinkFromURL();
        const postData = await fetchBlogData(postLink);
        // Render the blog post
        renderBlogPost(postData);
      });

      function getPostLinkFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get("postLink");
      }

      async function fetchBlogData(postLink) {
        try {
          const response = await fetch(
            `https://crm-farhan.artechworld.tech/blog/getblogbyid/${postLink}`
          );
          const data = await response.json();
          console.log(data);
          return data;
        } catch (error) {
          console.error("Error fetching blog post data:", error);
        }
      }

      function renderBlogPost(postData) {
        console.log("postdata", postData);
        const singleBlogContainer = document.getElementById(
          "singleBlogContainer"
        );

        if (postData) {
          const baseUrl = "https://crm-farhan.artechworld.tech";
          const imageUrl = `${baseUrl}/${postData.blog.image}`;
          const formattedDate = formatDate(postData.blog.post_time);

          const words = postData.blog.content.split(" ");
          const halfIndex = Math.ceil(words.length / 2);
          const firstHalf = words.slice(0, halfIndex).join(" ");
          const secondHalf = words.slice(halfIndex).join(" ");

          const postHtml = `
              <div class="site-cover site-cover-sm same-height overlay single-page"
                  style="background-image: url('images/single-page-backgroud.webp');">
                  <div class="container">
                      <div class="row same-height justify-content-center">
                          <div class="col-md-6">
                              <div class="post-entry text-center">
                                  <h1 class="mb-4">${postData.blog.title}</h1>
                                  <div class="post-meta align-items-center text-center">
                                      <figure class="author-figure mb-0 me-3 d-inline-block">
                                          <img src="img/trainer/palaktrainer.jpg" alt="Image" class="img-fluid">
                                      </figure>
                                      <span class="d-inline-block mt-1">By ${postData.blog.author}</span>
                                      <span>&nbsp;-&nbsp; ${formattedDate}</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <section class="section">
                  <div class="container">
                      <div class="row blog-entries element-animate">
                          <div class="col-md-12 col-lg-8 main-content">
                              <div class="post-content-body">
                                  <div class="row my-4">
                                      <div class="col-md-12 mb-4">
                                          <img src="${imageUrl}" alt="Image placeholder" class="img-fluid rounded col-md-12 ">
                                      </div>
                                  </div>
                                  <h2>${postData.blog.subtitle}</h2>
                                  <div class="first-half">
                                <p>${firstHalf}</p>
                            </div>

                            <!-- Second half of the content -->
                            <div class="second-half">
                                <p>${secondHalf}</p>
                            </div>
                              </div>
                              <div class="pt-5">
                           
                              </div>
                          </div>
                          <div class="col-md-12 col-lg-4 sidebar">
                              <div class="sidebar-box search-form-wrap">
                              </div>
                              <div class="sidebar-box">
                                  <div class="bio text-center">
                                      <img src="img/trainer/palaktrainer.jpg" alt="Image Placeholder" class="img-fluid mb-3">
                                      <div class="bio-body">
                                          <h2>About Palak Sachdeva</h2>
                                          <p class="mb-4">Palak Sachdeva is fueled by an unwavering passion for fitness. She possesses extensive expertise in various fitness domains and has a profound understanding of health and wellness principles.</p>
                                          <p><a href="/about" class="btn btn-primary btn-sm rounded px-2 py-2">Read About me</a></p>
                                          <p class="social">
                                           
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="sidebar-box">
                                  <h3 class="heading">Tags</h3>
                                  <ul class="tags">
                                    #FitnessJourney #WorkoutMotivation #HealthAndWellness #FitLife #ExerciseGoals #HealthyLiving #GymMotivation #FitnessGoals #PersonalTraining #ActiveLifestyle #FitnessInspiration #BodyTransformation #WellnessWednesday #FitFam #StrengthTraining #CardioWorkout #MindBodyHealth #HealthyHabits #FitnessForLife #OutdoorFitness #MindfulMovement
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          `;
          singleBlogContainer.innerHTML = postHtml;
        } else {
          console.error("Blog post not found.");
        }
      }

      function formatDate(timestamp) {
        const options = { year: "numeric", month: "long", day: "numeric" };
        const date = new Date(timestamp);
        return date.toLocaleDateString("en-US", options);
      }
    </script>
  </body>
</html>
